@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import './scss/main.scss';

* {
    box-sizing: border-box;
    font-family: $standard;
    outline: none;
}

html, body {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}