@import '../../scss/variables.scss';

.widget {
    width: 500px;

    border-radius: 1rem;
    background-color: $gray-scale--light;
    padding: 1rem;
    margin: 5rem;

    box-shadow: $shadow--medium;
}