@import '../../scss/main.scss';

.top-bar {
    grid-area: topbar;

    display: grid;
    grid-template-columns: 1fr 3.125rem 9rem 3.125rem auto;
    grid-template-rows: 4rem;

    position: relative;
    z-index: 1;
    padding: 0rem 1rem;
    box-shadow: $top-shadow;

    &__buttons {
        display: flex;
    }

    &__divider {
        height: 3rem;
        margin: 0.5rem 1.5rem;
        width: 0.125rem;

        border: none;
        background: $extra-light-gray;
    }
}