@import '../../../scss/variables.scss';

.note-view {
    height: calc(100% - 8rem);
    width: calc(100% - 8rem);

    margin: 4rem;

    &__header {
        height: 6rem;
        width: 100%;
        position: relative;

        & h1 {
            text-transform: uppercase;
            color: white;
            margin: 0rem;
            font-size: 3rem;
            text-shadow: $text-shadow;
            letter-spacing: 0.2rem;
        }
        
        &::after {
            content: '';

            height: 0.25rem;
            width: 50%;
            position: absolute;
            left: 0rem;
            bottom: 2rem;
            background: white;
            box-shadow: $small-shadow;
        }
    }

    &__notes-container {
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-template-areas:
            "summaries detail";

        height: calc(100% - 6rem);
        width: 100%;

        box-shadow: $large-shadow;
    }

    &__summaries {
        grid-area: summaries;

        padding: 2rem;

        background: rgba($extra-light-gray, 0.6);
    }
}