@import '../../scss/main.scss';

.note-view {
    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
        "note-header note-header "
        "note-list   note-details";

    margin: 2rem;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    box-shadow: $large-shadow;

    &__header {
        grid-area: note-header;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;

        background: rgba(white, 0.3);
    }

    &__heading {
        margin: 0rem;

        font-size: 3rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__subheading {
        padding-left: 0.5rem;
        font-size: 1.5rem;
        color: $dark-gray;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}