@import '../../scss/main.scss';

.event-view {
    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
        "event-header   event-header"
        " event-list   event-details";

    margin: 2rem;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    box-shadow: $large-shadow;

    &__header {
        grid-area: event-header;

        background: rgba(white, 0.3);
        padding: 2rem;

        & h2 {
            font-size: 3rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin: 0rem;
        }
    }
}