@import '../../scss/variables.scss';

.side-bar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 4rem 1fr;

    position: relative;
    z-index: 2;
    padding: 0rem 2rem;

    background: $dark-gray-scale-gradient;
    box-shadow: $side-shadow;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 4rem;
        width: 100%;

        text-decoration: none;

        & h1 {
            margin: 0rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: white;
            font-weight: $bold;
            font-size: 1.5rem;
            letter-spacing: 0.25rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        height: fit-content;
        width: 100%;
        margin-bottom: 3rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0rem;
            bottom: 0.5rem;
            height: 0.25rem;
            width: 50%;
            background-color: white;
        }
    }

    &__sub-heading {
        font-size: 1rem;
        text-transform: uppercase;
        color: $light-gray;
    }

    &__buttons--full {
        animation: fadeIn 1s ease-in;
        transform-origin: bottom;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

    &__create-household-button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.5rem 1.5rem;
        margin: 0.5rem 0rem 1.5rem;

        border: none;
        background: $color-gradient;
        background-size: 200% auto;

        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $bold;

        transition: all ease-out 0.3s;

        &:hover {
            cursor: pointer;
            background-position: right center;

            transition: all ease-out 0.3s;
        }
    }

    &__household-create-form-wrapper {
        width: 25rem;
        position: absolute;
        top: -2rem;
        left: calc(100% + 1rem);
        z-index: 5;

        box-shadow: $shadow;

        animation: appear 0.6s;
        transform-origin: left;
        
        ::before {
            content: '';

            height: 2rem;
            width: 2rem;
            transform: rotate(45deg);
            top: calc(50% - 1rem);
            left: -1rem;
            background: white;
            position: absolute;
        }

        & .form {
            padding: 1rem;
            
            &__title {
                font-size: 1.2rem;
            }
        }
    }

    @keyframes appear {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }

    &__household-name {
        margin: 0.5rem 0rem 1.5rem;
        font-size: 1.5rem;
        font-weight: $normal-weight;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.25rem;
    }


}