@import '../../scss/variables.scss';

.side-bar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 4rem 1fr;

    position: relative;
    z-index: 2;
    padding: 0rem 2rem;

    background: $dark-gray-scale-gradient;
    box-shadow: $side-shadow;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 4rem;
        width: 100%;

        text-decoration: none;

        & h1 {
            margin: 0rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: white;
            font-weight: $bold;
            font-size: 1.5rem;
            letter-spacing: 0.25rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        height: fit-content;
        width: 100%;
        margin-bottom: 3rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0rem;
            bottom: 0.5rem;
            height: 0.25rem;
            width: 50%;
            background-color: white;
        }
    }

    &__sub-heading {
        font-size: 1rem;
        text-transform: uppercase;
        color: $light-gray;
    }

    &__household-name {
        margin: 0.5rem 0rem 1.5rem;
        font-size: 1.5rem;
        font-weight: $normal-weight;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.25rem;
    }


}