@import '../../scss/main.scss';

.side-bar-group, .side-bar-group--active {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;

    background: transparent;
    border: none;

    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        text-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.5);
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 1.5rem;

        height: 100%;
        width: 2rem;

        color: white;
        font-size: 1.5rem;
    }
}

.side-bar-group {
    &::before {
        content: '';

        position: absolute;
        top: 0rem;
        left: -2rem;
        height: 100%;
        width: 0.5rem;

        background: $color-gradient;

        transform: scaleX(0);
        transform-origin: left;

        transition: all ease-out 0.3s;
    }

    &:hover::before {
        transform: scaleX(1);
        
        transition: all ease-out 0.3s;
    }
}

.side-bar-group--active {
    &::before {
        content: '';

        position: absolute;
        top: 0rem;
        left: -2rem;
        height: 100%;
        width: 1rem;

        background: $color-gradient;
    }
}