$primary-color: blue;

// --- Gray Scale
$white: rgb(247, 247, 247);
$gray-scale--light: rgb(219, 219, 219);
$gray-scale--medium: rgb(138, 135, 135);
$gray-scale--dark: rgb(82, 82, 82);
$black: rgb(34, 34, 34);