.form {
    height: 100%;
    width: 100%;
    padding: 2rem;

    background: white;
    position: relative;

    & ::before {
        content: '';
        display: none;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 3rem;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    &__title {
        margin: 0rem;

        font-size: 1.5rem;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        padding-bottom: 0.75rem;

        position: relative;

        &:hover {
            cursor: text;
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0.25rem;
            left: 0rem;
            
            height: 0.125rem;
            width: 100%;

            background-color: $gray;
        }

        &--text-area {
            flex-direction: column-reverse;
            margin-top: 1.1rem;
        }
    }

    &__label {
        display: inline-block;

        position: absolute;
        bottom: 0.75rem;
        left: 0rem;

        color: $dark-gray;
        font-size: 1rem;
        text-transform: uppercase;

        transform: translateY(0rem) translateX(0rem) scale(1);
        transform-origin: top left;

        transition: all ease-out 0.3s;

        &:hover {
            cursor: text;
        }

        &--text-area {
            position: absolute;
            top: 0rem;
            left: 0rem;

            color: $dark-gray;
            font-size: 1rem;
            text-transform: uppercase;

            transform: translateY(0rem) translateX(0rem) scale(1);
            transform-origin: top left;

            transition: all ease-out 0.3s;

            &:hover {
                cursor: text;
            }
        }
    }

    &__text-area {
        display: block;
        min-height: 150px;
        width: 100%;
        resize: none;
        font-size: 1rem;
        border: none;

        &:focus + .form__label--text-area {
            transform: translateY(-1.1rem) translateX(0.05rem) scale(0.75);
            color: $gray;
            transform-origin: top left;

            transition: all ease-out 0.3s;
        }
    }

    &__label--text-area--not-empty {
        transform: translateY(-1.1rem) translateX(0.05rem) scale(0.75);
        color: $gray;
        transform-origin: top left;

        transition: all ease-out 0.3s;
    }

    &__text-input {
        height: 1.5rem;
        width: 100%;
        margin-top: 0.75rem;

        background: transparent;
        border: none;

        font-size: 1rem;

        &:focus + .form__label,
        &:not([value='']) + .form__label {
            transform: translateY(-1.1rem) translateX(0.05rem) scale(0.75);
            color: $gray;
            transform-origin: top left;

            transition: all ease-out 0.3s;
        }
    }

    &__hint {
        color: $gray;
        text-transform: uppercase;
        font-size: 0.75rem;
    }

    &__submit-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 3rem;
        width: 100%;
    }

    &-error-boundary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;

        height: 100%;
        width: 100%;

        color: $dark-gray;

        &__heading {
            display: inline-block;

            width: 100%;
            margin: 0rem 0rem 1rem;
            position: relative;

            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;

            &::after {
                content: '';
                height: 0.25rem;
                width: 100%;
                position: absolute;
                top: calc(100% + 0.125rem);
                left: 0%;
                
                background: $color-gradient;
            }
        }

        &__paragraph {
            margin: 0rem;

            font-size: 1rem;
        }

        &__error {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            height: 3rem;
            width: calc(100% - 2rem);
            padding: 0rem 1rem;
            margin: 1rem 1rem;
            overflow-x: auto;
            overflow-y: hidden;

            background: $dark-gray;
            
            color: white;
            line-height: 1rem;
            white-space: nowrap;
        }
    }

    &__errors {
        background: $error-background;
        padding: 1rem;
        margin-bottom: 1rem;

        &-header {
            display: block;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
        }

        &-list {
            list-style: none;
            padding-left: 0rem;
            margin: 0rem;
        }
    }

    &__error {
        margin-left: 1rem;

        &-param {
            font-weight: $bold;
        }
    }
}

.activated-form .form {
    &__header {
        animation: titleAppear 0.9s ease-out;
    }

    &__input-group, &__submit-group {
        animation: inputAppear 1.2s ease-out;
    }
}

@keyframes titleAppear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    67% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes inputAppear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.deactivated-form {
    animation: hideForm 0.3s ease-out;
    animation-delay: 0.3s;
    transform-origin: left;

    & .form {
        &__header {
            animation: titleDisappear 0.45s ease-out;
            animation-delay: 0.15s;
        }

        &__input-group, &__submit-group {
            animation: inputDisappear 0.6s ease-out;
        }
    }
}

@keyframes hideForm {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

@keyframes titleDisappear {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    33% {
        transform: translateY(100%);
        opacity: 1;
    }
    67% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes inputDisappear {
    0% {
        opacity: 1
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}