.invitation-notification {
    display: flex;
    justify-content: space-between;

    padding: 0.25rem 0.5rem;

    &:hover {
        background: $extra-light-gray;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__subheading {
        text-transform: uppercase;
        color: $gray;
        font-weight: $bold;
        letter-spacing: 0.1rem;
        font-size: 0.5rem;
    }
}

.invitation {
    display: grid;
    grid-template-rows: 5.5rem calc(100% - 5.5rem);
    grid-template-areas:
        "sectionHeader"
        "mainSection";

    height: 100%;
    width: 100%;

    &-content {
        padding: 2rem;
        min-width: 50%;
        max-height: 60%;

        background: white;
        box-shadow: $large-shadow;

        &__wrapper {
            grid-area: mainSection;

            display: flex;
            align-items: center;
            justify-content: center;

            background: rgba($dark-gray, 0.7);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        &__buttons {
            display: flex;
            
            & button {
                margin-right: 1rem;
            }
        }
    }
}