.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background: $color-gradient;

    &__main-container {
        display: grid;
        grid-template-rows: 1fr 32rem 1fr;
        grid-template-columns: calc(45% - 2rem) calc(55% - 2rem) 4rem;
        grid-template-areas:
            "  .  form   .  "
            "main form panel"
            "  .  form   .  ";

        min-height: 65%;
        width: 60%;
    }

    &__main {
        grid-area: main;

        position: relative;
        z-index: 1;
        padding: 2rem;

        background: $dark-gray-scale-gradient;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        box-shadow: $large-shadow;

        color: white;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 3rem;
        width: 100%;
        margin: 0rem;
        position: relative;

        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: $bold;
        letter-spacing: 0.2rem;

        &::after {
            content: '';

            position: absolute;
            height: 0.25rem;
            width: 50%;
            left: 25%;
            bottom: 0.25rem;
            background: $color-gradient;
        }
    }

    &__description {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &__form-container {
        grid-area: form;
        background: white;

        position: relative;
        z-index: 2;

        box-shadow: $extra-large-shadow;
    }

    &__divider {
        width: calc(100% - 4rem);
        margin: 1rem 2rem;
        height: 0.25rem;
        border: none;
        display: block;

        background: $color-gradient;
    }

    &__form-switcher {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 4.25rem;
        padding: 0rem 2rem 2rem;

        text-transform: uppercase;
        color: $dark-gray;
        font-size: 1rem;
    }
    
    &__form-wrapper {
        height: calc(100% - 6.25rem);
    }

    &__decorative-panel {
        grid-area: panel;

        position: relative;
        z-index: 1;
        padding: 2rem;
        
        background: $extra-dark-gray;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        box-shadow: $large-shadow;
    }
}