.notes {
    display: grid;
    grid-template-rows: 5.5rem calc(100% - 5.5rem);
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
        "sectionHeader sectionHeader"
        "notesList     noteDetails  ";

    height: 100%;
    width: 100%;

    &-list {
        grid-area: notesList;

        display: grid;
        grid-template-rows: 3rem 1fr;
        grid-template-areas: 
            "header"
            "list";
        grid-gap: 1rem;

        padding: 1rem;

        background: rgba(white, 0.5);
        border-bottom-left-radius: 1rem;

        &__header {
            grid-area: header;

            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1rem 0.5rem 1rem 1rem;   
                
            background: white;

            text-transform: uppercase;
            color: $dark-gray;
            letter-spacing: 0.1rem;
        }

        &__list {
            grid-area: list;

            overflow: auto;
        }
    }
}

.note-summary,
.note-summary--active {
    grid-area: note-summary;

    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 0.5rem 1rem 1rem 1rem 0.5rem;
    grid-template-areas:
        "photo    .   "
        "photo  title "
        "photo creator"
        "photo   body "
        "photo    .   ";

    margin-bottom: 0.125rem;

    background: linear-gradient(
        to right, 
        white, 
        rgba(white, 0.4) 50%, 
        rgba(white, 0.4));
    background-size: 200% auto;
    background-position: right;
    transition: all ease-out 0.3s;

    &:hover {
        cursor: pointer;
        background-position: left;
        transition: all ease-out 0.3s;
    }

    &__photo-container {
        grid-area: photo;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__photo {
        height: 3rem;
        width: 3rem;
        
        border-radius: 50%;
        border: 0.125rem solid $primary;
    }

    &__title {
        grid-area: title;

        overflow: hidden;

        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $dark-gray;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__creator {
        grid-area: creator;

        overflow: hidden;

        color: $gray;
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__body {
        grid-area: body;

        overflow: hidden;
        
        max-height: 1rem;
        max-width: 100%;

        font-size: 0.75rem;
        color: $gray;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__button-container {
        grid-area: buttons;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 0.125rem;

        background: rgba(white, 0.4);
    }
}

.note-summary--active {
    background-position: left;
}

.note-details {
    &__wrapper {
        grid-area: noteDetails;

        padding: 1rem;

        background: rgba($white, 0.7);
        border-bottom-right-radius: 1rem;
    }

    display: grid;
    grid-template-rows: 3.5rem 1.875rem calc(100% - 5.375rem);

    height: 100%;
    width: 100%;
    background: $white;
    padding: 2rem;
    
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        height: 1.5rem;
        width: 5rem;
    }

    &__author-container {
        position: relative;

        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        height: 1.875rem;
        margin: 0.5rem 0rem;

        color: $dark-gray;

        &::after {
            content: '';
            position: absolute;
            bottom: 0rem;
            left: 0rem;
            height: 0.125rem;
            width: 100%;
            background: $light-gray-scale-gradient;

        }
    }

    &__body {
        overflow: auto;
    }
}

.note-form {
    &__container {
        grid-area: noteDetails;

        display: grid;
        grid-template-rows: 2.5rem 1fr;
        grid-gap: 1rem;

        padding: 1rem;

        background: rgba(white, 0.7);
        border-bottom-right-radius: 1rem;
    }

    &__button-wrapper {
        padding: 0.5rem 0rem 0rem;
    }
}