.notes {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
        "sectionHeader sectionHeader"
        "notesList     noteDetails  ";

    height: 100%;
    width: 100%;

    &-list {
        grid-area: notesList;

        display: grid;
        grid-template-rows: 3rem 1fr;
        grid-template-areas: 
            "header"
            "list";
        grid-gap: 1rem;

        padding: 1rem;

        background: rgba(white, 0.5);
        border-bottom-left-radius: 1rem;

        &__header {
            grid-area: header;

            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1rem 0.5rem 1rem 1rem;   
                
            background: white;

            text-transform: uppercase;
            color: $dark-gray;
            letter-spacing: 0.1rem;
        }

        &__list {
            grid-area: list;

            overflow: auto;
        }
    }
}

.note-summary {
    grid-area: note-summary;

    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 0.5rem 1rem 1rem 1rem 0.5rem;
    grid-template-areas:
        "photo    .   "
        "photo  title "
        "photo creator"
        "photo   body "
        "photo    .   ";

    margin-bottom: 0.125rem;

    background: linear-gradient(
        to right, 
        white, 
        rgba(white, 0.4) 50%, 
        rgba(white, 0.4));
    background-size: 200% auto;
    background-position: right;
    transition: all ease-out 0.3s;

    &:hover {
        cursor: pointer;
        background-position: left;
        transition: all ease-out 0.3s;
    }

    &--active {
        background-position: left;
    }

    &__photo-container {
        grid-area: photo;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__photo {
        height: 3rem;
        width: 3rem;
        
        border-radius: 50%;
        border: 0.125rem solid $primary;
    }

    &__title {
        grid-area: title;

        overflow: hidden;

        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $dark-gray;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__creator {
        grid-area: creator;

        overflow: hidden;

        color: $gray;
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__body {
        grid-area: body;

        overflow: hidden;
        
        max-height: 1rem;
        max-width: 100%;

        font-size: 0.75rem;
        color: $gray;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__button-container {
        grid-area: buttons;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 0.125rem;

        background: rgba(white, 0.4);
    }
}

.note-details {
    grid-area: noteDetails;

    height: 100%;
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 2;

    background: rgba(white, 0.7);
    border-bottom-right-radius: 1rem;

    &--active-note {
        display: grid;
        grid-template-rows: 4rem 4rem 1fr;
        grid-template-columns: 6rem 0.125rem 1fr;
        grid-template-areas:
            "  title     title  title "
            "from-label divider author"
            "body-label divider body  ";
    }

    &__title {
        grid-area: title;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0rem;
        position: relative;

        text-transform: uppercase;
        font-size: 2rem;
        color: $dark-gray;
        letter-spacing: 0.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::after {
            content: '';

            position: absolute;
            bottom: 0rem;
            left: 0rem;
            width: 100%;
            height: 0.125rem;
            
            background: $color-gradient;
        }
    }

    &__buttons {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        position: relative;
        z-index: 2;

        height: 100%;
        padding: 0.5rem;
    }

    &__label {
        padding-top: 1.5rem;
        padding-right: 1rem;

        text-align: right;
        text-transform: uppercase;
        color: $dark-gray;
        letter-spacing: 0.1rem;
    }

    &__divider {
        grid-area: divider;

        background: rgba(black, 0.2);
    }

    &__from-label {
        grid-area: from-label;

        position: relative;

        &::after {
            content: '';

            position: absolute;
            bottom: 0rem;
            left: 0rem;
            width: 100%;
            height: 0.125rem;
            
            background: rgba(black, 0.2);
        }
    }

    &__note-author {
        grid-area: author;

        display: flex;
        align-items: center;
        padding-left: 1rem;

        position: relative;

        color: $dark-gray;

        &::after {
            content: '';

            position: absolute;
            bottom: 0rem;
            left: 0rem;
            width: 100%;
            height: 0.125rem;
            
            background: rgba(black, 0.2);
        }
    }

    &__photo {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 0.125rem solid $primary;
        margin-right: 1rem;
    }

    &__body-label {
        grid-area: body-label;
    }

    &__body {
        grid-area: body;

        padding: 1.5rem 0rem 0rem 1rem;

        color: $dark-gray;
    }

    &--no-notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        & h3 {
            margin: 0.5rem 0rem;

            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin: 0.5rem 0rem;
        }

        & span {
            display: inline-block;

            width: 100%;
            margin-bottom: 2rem;
            position: relative;

            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $gray;

            &::after {
                content: '';

                height: 0.25rem;
                width: 60%;
                position: absolute;
                top: 2.5rem;
                left: 20%;

                background: $gray;
            }
        }
    }
}

.note-form {
    &__container {
        grid-area: noteDetails;

        display: grid;
        grid-template-rows: 2.5rem 1fr;
        grid-gap: 1rem;

        padding: 1rem;

        background: rgba(white, 0.7);
        border-bottom-right-radius: 1rem;
    }

    &__button-wrapper {
        padding: 0.5rem 0rem 0rem;
    }
}