.typography {
    &__heading {
        &--light,
        &--dark,
        &--light-small,
        &--dark-small {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 100%;
            padding: 0.75rem 0rem;
            margin: 0rem 0rem 0.5rem;
            position: relative;

            letter-spacing: 0.2rem;
            text-transform: uppercase;
            white-space: pre-wrap;
        }

        &--light,
        &--dark {
            min-height: 3rem;
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
        }

        &--light-small,
        &--dark-small {
            min-height: 3rem;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
        }

        &--light {
            color: $white;
        }

        &--dark {
            color: $dark-gray
        }

        &--colored-divider::after,
        &--light-divider::after,
        &--dark-divider::after {
            content: '';

            height: 0.25rem;
            width: 100%;
            position: absolute;
            bottom: 0.25rem;
            left: 0rem;
        }

        &--colored-divider::after {
            background: $color-gradient;
        }

        &--light-divider::after {
            background: $light-gray-scale-gradient;
        }

        &--dark-divider::after {
            background: $dark-gray-scale-gradient;
        }
    }

    &__subheading {
        &--light,
        &--dark {
            display: block;

            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        &--light {
            color: $light-gray;
            transition: all ease-out 0.3s;

            &--button:hover {
                color: $extra-light-gray;
                transition: all ease-in 0.3s;
            }
        }

        &--dark {
            color: $gray;
        }

    }

    &__paragraph {
        &--light,
        &--dark {
            line-height: 1.5rem;
            font-size: 1rem;
            text-align: justify;
        }

        &--light {
            color: $white;
        }

        &--dark {
            color: $dark-gray;
        }
    }
}