// --- COLORS ---

// Primary Color
// $primary: rgb(42, 234, 128);
$primary: rgb(247, 153, 91);
$primary-gradient: linear-gradient(
    to bottom,
    $primary,
    darken($primary, 5%)
);

// Secondary Color
// $secondary: #11C3E3;
$secondary: rgb(184, 37, 127);
$secondary-gradient: linear-gradient(
    to bottom,
    $secondary,
    darken($secondary, 5%)
);

// Color Gradient
$color-gradient: linear-gradient(to bottom right, 
    $secondary,
    $primary);

// Error Colors
$error-background: rgb(255, 234, 234);

// Gray Scale
$white: white;
$extra-light-gray: #EAEAEA;
$light-gray: #BABABA;
$gray: #6d6d6d;
$dark-gray: #484848;
$extra-dark-gray: #2F2F2F;

// Gray Scale Gradient
$light-gray-scale-gradient: linear-gradient(
    to bottom right,
    $extra-light-gray,
    $light-gray);
$medium-light-gray-scale-gradient: linear-gradient(
    to bottom right,
    $light-gray,
    $gray);
$medium-dark-gray-scale-gradient: linear-gradient(
    to bottom right,
    $gray,
    $dark-gray);
$dark-gray-scale-gradient: linear-gradient(
    to bottom right,
    $dark-gray,
    $extra-dark-gray);

// --- SHADOWS ---

// Box Shadows
$small-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
$shadow: 0.25rem 0.25rem 1.5rem rgbba(0, 0, 0, 0.2);
$large-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
$extra-large-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
$side-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
$top-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);

// Text Shadows
$small-text-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
$text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
$glow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.5);

// --- TYPOGRAPHY ---

// Font Families
$standard: 'Roboto', sans-serif;

// Font Weights
$bold: 700;
$normal-weight: 400;

