@import './variables.scss';

.form {
    height: 100%;
    width: 100%;
    padding: 2rem;

    background: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 3rem;
        width: 100%;
        margin-bottom: 0.25rem;
        position: relative;

        &::after {
            content: '';

            position: absolute;
            left: 0rem;
            bottom: 0rem;

            height: 0.25rem;
            width: 100%;
            
            background: $color-gradient;
        }
    }

    &__title {
        margin: 0rem;

        font-size: 1.5rem;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        padding-bottom: 0.75rem;

        position: relative;

        &--error {
            background: $error-background;
        }

        &:hover {
            cursor: text;
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0.25rem;
            left: 0rem;
            
            height: 0.125rem;
            width: 100%;

            background-color: $gray;
        }
    }

    &__label {
        display: inline-block;

        position: absolute;
        bottom: 0.75rem;
        left: 0rem;

        color: $dark-gray;
        font-size: 1rem;
        text-transform: uppercase;

        transform: translateY(0rem) translateX(0rem) scale(1);
        transform-origin: top left;

        transition: all ease-out 0.3s;

        &:hover {
            cursor: text;
        }
    }

    &__text-input {
        height: 1.5rem;
        width: 100%;
        margin-top: 0.75rem;

        background: transparent;
        border: none;

        font-size: 1rem;

        &:focus + .form__label,
        &:not([value='']) + .form__label {
            transform: translateY(-1.1rem) translateX(0.05rem) scale(0.75);
            color: $gray;
            transform-origin: top left;

            transition: all ease-out 0.3s;
        }
    }

    &__hint {
        color: $gray;
        text-transform: uppercase;
        font-size: 0.75rem;
    }

    &__submit-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 3rem;
        width: 100%;
    }

    &__submit-button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.5rem 1.5rem;

        border: none;
        background: $color-gradient;
        background-size: 200% auto;

        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $bold;

        transition: all ease-out 0.3s;

        &:hover {
            cursor: pointer;
            background-position: right center;

            transition: all ease-out 0.3s;
        }
    }
}