@import './variables';

@import './typography';
@import './form';
@import './buttons';
@import './decorative';


@import './landing';
@import './topbar';
@import './layout';
@import './sidebar';
@import './requiresAuth';
@import './spinner';
@import './profile';
@import './notes';
@import './modal';

a {
    display: block;
    width: fit-content;
    width: min-content;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}